<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eastern Shore Data | Welcome</title>
    <link rel="stylesheet" href="{{assets}}/css/app.css" />
     <script src="{{assets}}/js/modernizr.js"></script>
    
    
      <style type="text/css">
          #bg {
  position: fixed;
  top: 0;
  left: 0;

    opacity: .4;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}


#center {
 background: rgba(250, 221, 194, .5);
}

          #crane {
    max-height: 40%;
    width: auto;
}
          
          #email {
              max-width: 2em;
              height: auto;
          }
      </style>
  </head>
  <body>

    {{>body}}
    
    <script src="{{assets}}/js/all.js"></script>
  </body>
</html>
